.Fondo {
  background-image: url(imagenes/Fondo.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  height: 100vh;

}

.articLista {
  color: gray;
  width: auto;
  height: auto;
  border: 2px solid black;
  margin: 10px;
}

ul {
  list-style-type: none;
}

.animales {
  margin: 10px;
  border-style: double;
  border-width: 5px;
  color: black;
}

.lista-animales {
  min-width: 600px;
  margin:  auto;
  background-color: lemonchiffon;
  border-radius: 32px;
  padding: 20px;

}

.Contenedor-Principal {
  background-color: #faebd7;
  text-align: center;
  justify-content: center;
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px;
  border-radius: 8px;
  padding: 20px;
}

animales-voladores {
  display: flex;
  flex-direction: row;
  min-width: 500px;
}

.animales {
  width: 300px;           
  background-color: #bfc694;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
}