.Listado {
    background-color: #FAEBD7;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* de esta forma se insertan imagenes como fondo*/
.Detalle {
    background-image: url(imagenes/Tero.png);
    height: 100%;
}

.articLista {
    color: gray;
    width: auto;
    height: auto;
    border: 2px solid black;
    margin: 10px;
}

ul {
    list-style-type: none;
}

.animales {
    margin: 10px;
    border-style: double;
    border-width: 5px;
    color: black;
}

.lista-animales {
    width: 60%;
    margin: 0 auto;
    background-color: lemonchiffon;


}

.NombreCientifico {
    color: black;
    font-family: Lucida Handwriting, Cursive;
}